#messages li {
  list-style-type: none;
}

.navbar-brand {
  font-family: Courier, monospace;
  color: white;
}

#message {
  font-family: Courier, monospace;
  font-size: 15px;
  color: white;
}

#drawing-area {
  border: 1px solid #adadad;
  border-radius: 5px;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}

#downsample-view {
  position: relative;
  margin-top: -140px;
  width: 110px;
  height: 120px;
  background: white;
  left: 15px;
  z-index: 100;
}

#lstLetters {
  border: 1px solid #000;
  width: 112px;
  height: 171px;
  position: absolute;
  display: inline;
  left: 313px;
  top: 137px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#actions {
  position: relative;
  text-align: center;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  z-index: 200;
  margin-top: -30px;
}

@media only screen and (max-width: 768px) {
  #actions {
    margin-top: -62px;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position:relative;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
