@()(implicit request: RequestHeader)

@main("iSee") {

<div class="row text-center">
  <div id="drawing-area"></div>
  <!--<select id="lstLetters" size="10"></select>-->
</div>
<div id="downsample-view" class="hidden-xs"></div>

<script type="text/javascript">
  $(function() {

    ws = new WebSocket("@routes.Isee.messages.webSocketURL()")

    ws.onmessage = function(msg) {
      var data = JSON.parse(msg.data);
      if (data.result != undefined) {
        var minDiff = 1.0;
        var closestIndex = 0;
        for (var i = 0; i < data.result.length; i++) {
          var diff = 1.0 - data.result[i];

          if (diff < minDiff) {
            minDiff = diff;
            closestIndex = i;
          }
        }
        $('#message').text("you typed " + closestIndex);
      } else {
        $('#message').text(data.message);
      }
    }

  })
</script>

}